.content
  .list-view.mentioned-messages-list
    .title
      %h2 Mentions
    - if @mentions == [] do
      %h2 No mentions found
  .ul.mentioned-messages-list.list.clearfix
    - for mention <- @mentions do
      %li(id="#{mention[:id]}" class="#{get_li_class(mention, :mention)}" data-username="#{mention[:username]}" data-date="#{mention[:date]}" data-timestamp="#{mention[:timestamp]}")
        %button.thumb.user-card-message(data-username="#{mention[:username]}" tabindex="1")
          .avatar
            .avatar-image(style="background-image:url(/avatar/#{mention[:username]});")
        %button.user.user-card-message.color-primary-font-color(type="button" data-username="#{mention[:username]}" tabindex="1")
          = mention[:username]
        %span.info.border-component-color.color-info-font-color
          %span.time(title="#{mention[:date]}")= mention[:time]
          .message-cog-container
            %i.icon-cog.message-cog(aria-label="Actions")
        .body.color-primary-font-color(dir="auto")
          = UcxChat.MessageView.format_message_body(mention[:message])
        %ul.actionLinks.hidden
        %ul.reactions.hidden
