.content
  .list-view.pinned-messages-list
    .title
      %h2 Pinned Messages
    - if @pinned == [] do
      %h2 No pinned messages
  .ul.list.clearfix
    - for pin <- @pinned do
      %li(id="#{pin[:id]}" class="#{get_li_class(pin, :pinned)}" data-username="#{pin[:username]}" data-date="#{pin[:date]}" data-timestamp="#{pin[:timestamp]}")
        %button.thumb.user-card-message(data-username="#{pin[:username]}" tabindex="1")
          .avatar
            .avatar-image(style="background-image:url(/avatar/#{pin[:username]});")
        %button.user.user-card-message.color-primary-font-color(type="button" data-username="#{pin[:username]}" tabindex="1")
          = pin[:username]
        %span.info.border-component-color.color-info-font-color
          %span.time(title="#{pin[:date]}")= pin[:time]
          .message-cog-container
            %i.icon-cog.message-cog(aria-label="Actions")
        .body.color-primary-font-color(dir="auto")
          = UcxChat.MessageView.format_message_body(pin[:message])
        %ul.actionLinks.hidden
        %ul.reactions.hidden
