.content
  .list-view.stared-messages-list
    .title
      %h2 Stared Messages
    - if @stars == [] do
      %h2 No started messages
  .ul.list.clearfix
    - for star <- @stars do
      %li(id="#{star[:id]}" class="#{get_li_class(star, :starned)}" data-username="#{star[:username]}" data-date="#{star[:date]}" data-timestamp="#{star[:timestamp]}")
        %button.thumb.user-card-message(data-username="#{star[:username]}" tabindex="1")
          .avatar
            .avatar-image(style="background-image:url(/avatar/#{star[:username]});")
        %button.user.user-card-message.color-primary-font-color(type="button" data-username="#{star[:username]}" tabindex="1")
          = star[:username]
        %span.info.border-component-color.color-info-font-color
          %span.time(title="#{star[:date]}")= star[:time]
          .message-cog-container
            %i.icon-cog.message-cog(aria-label="Actions")
        .body.color-primary-font-color(dir="auto")
          = UcxChat.MessageView.format_message_body(star[:message])
        %ul.actionLinks.hidden
        %ul.reactions.hidden
