.content
  .list-view.animated
    .title
      %h2 Members List
      .buttons-group
      .control
        .search-form
          .input-line.search
            %input#user-add-search.search.content-background-color(type="text" placeholder="Add users")
            %i.icon-plus.secondary-font-color
      %p
        = get_users_list_stats(@users)
        %button.see-all Show all
    %ul.list.clearfix.lines
      - for user <- @users do
        %li.user-image.user-card-room(class="status-#{user.status}" data-status-name="#{user.username}")
          %button(data-username="#{user.username}" tabindex="0" title="#{user.username}")
            .avatar
              .avatar-image(style="background-image:url(https://cdn-demo.rocket.chat/avatar/smpallen99?_dc=0);")
            %p= user.username
  - hidden = hidden_on_nil(@user_mode, "animated-")
  - # Logger.warn "@user_mode: #{inspect @user_mode}, hidden?: #{inspect hidden}"
  %div(class="user-view animated #{hidden}")
    .about.clearfix
      .thumb
        .avatar
          .avatar-image(style='background-image:url(#{get_large_avatar(@user.username)});')
      .info
        %h3(title="#{@user.username}")
          %i.status-offline
          = @user.username
        %p.secondary-font-color= @user.username
        %p.secondary-font-color
          %i.icon-clock
          = "#{UcxChat.MessageView.format_time(Timex.now(), @user)} (UTC #{@user.tz_offset})"
        %p.secondary-font-color
          %i.icon-mail
          = @user.email
        %p.secondary-font-color
          %i.icon-calendar
          = "#{~g(Created at)}:"
          = UcxChat.MessageView.format_date_time(@user.inserted_at, @user)
        %p.secondary-font-color
          %i.icon-calendar
          = "#{~g(Last Login)}:"
          = UcxChat.MessageView.format_date_time(@user.last_sign_in_at, @user)

    %nav(data-username="#{map_field(@user, :username)}")
      - owner = false
      - if owner do
        %button.button.button-block.primary.pvt-msg
          %span
            %i.icon-chat
            Conversation
        %button.button.button-block.tertiary.set-owner
          %span Set as owner
        %button.button.button-block.tertiary.set-moderator
          %span Set as moderator
        %button.button.button-block.danger.mute-user
          %span Mute user
        %button.button.button-block.danger.remove-user
          %span Remove from room
        %button.button.back
          %span
            View All
            %i.icon-angle-right
      - else
        .buttons-group
        .button.button-block.primary.pvt-msg
          %span
            %i.icon-chat
            Conversation
        .button.back
          %span
             View All
             %i.icon-angle-right


