.content
  .list-view.animated
    .title
      %h2 Members List
      .buttons-group
      .control
        .search-form
          .input-line.search
            %input#user-add-search.search.content-background-color(type="text" placeholder="Add users")
            %i.icon-plus.secondary-font-color
      %p
        = get_users_list_stats(@users)
        %button.see-all Show all
    %ul.list.clearfix.lines
      - for user <- @users do
        = render "users_list_item.html", user: user, channel_id: @channel_id
  - hidden = hidden_on_nil(@user_mode, "animated-")
  - # Logger.warn "@user_mode: #{inspect @user_mode}, hidden?: #{inspect hidden}"
  %div(class="user-view animated #{hidden}" data-username="#{@user.username}")
    = render "user_card.html", user: @user, channel_id: @channel_id, current_user: @current_user, mode: :members_list
