.content
  .list-view.animated
    .title
      %h2 Members List
      .buttons-group
      .control
        .search-form
          .input-line.search
            %input#user-add-search.search.content-background-color(type="text" placeholder="Add users")
            %i.icon-plus.secondary-font-color
      %p
        = get_users_list_stats(@users)
        %button.see-all Show all
    %ul.list.clearfix.lines
      - for user <- @users do
        = render "users_list_item.html", user: user, channel_id: @channel_id
  - hidden = hidden_on_nil(@user_mode, "animated-")
  - # Logger.warn "@user_mode: #{inspect @user_mode}, hidden?: #{inspect hidden}"
  %div(class="user-view animated #{hidden}" data-username="#{@user.username}")
    .about.clearfix
      .thumb
        .avatar
          .avatar-image(style='background-image:url(#{get_large_avatar(@user.username)});')
      .info
        %h3(title="#{@user.username}")
          %i.status-offline
          = @user.username <> " (#{@user.id})"
        %p.secondary-font-color= @user.username
        - if tags = UcxChat.User.tags(@user, @channel_id) do
          %p.secondary-font-color
            - for tag <- tags do
              %span.role-tag(data-role="#{tag}")= tag

        %p.secondary-font-color
          %i.icon-clock
          = "#{UcxChat.MessageView.format_time(Timex.now(), @user)} (UTC #{@user.tz_offset})"
        %p.secondary-font-color
          %i.icon-mail
          = @user.email
        %p.secondary-font-color
          %i.icon-calendar
          = "#{~g(Created at)}:"
          = UcxChat.MessageView.format_date_time(@user.inserted_at, @user)
        %p.secondary-font-color
          %i.icon-calendar
          = "#{~g(Last Login)}:"
          = UcxChat.MessageView.format_date_time(@user.last_sign_in_at, @user)

    %nav(data-username="#{map_field(@user, :username)}")
      = render "user_card_actions.html", user: @user, channel_id: @channel_id, current_user: @current_user

