- config = Settings.config
.message-dropdown.content-background-color(style="display: block")
  %ul
    %li.message-dropdown-close.secondary-background-color.border-component-color
      %i.icon-angle-left(aria-label="Close")
    = message_cog_action_li("reply-message", "Reply", "reply")
    - if Settings.allow_message_editing config do
      = message_cog_action_li("edit-message", "Edit", "pencil")
    - if Settings.allow_message_deleting config do
      = message_cog_action_li("delete-message", "Delete", "trash-alt")
    = message_cog_action_li("permalink", "Permalink", "link", "clipboard")
    = message_cog_action_li("copy", "Copy", "paste", "clipboard")
    = message_cog_action_li("quote-message", "Quote", "quote-left")
    - if Settings.allow_message_staring config do
      - if @opts[:stared] do
        = message_cog_action_li("unstar-message", "Remove Star", "star")
      -else
        = message_cog_action_li("star-message", "Star Message", "star-empty")
    - if Settings.allow_message_pinning config do
      - if @opts[:pinned] do
        = message_cog_action_li("unpin-message", "Remove Pin", "pin rotate-45")
      -else
        = message_cog_action_li("pin-message", "Pin Message", "pin")
    = message_cog_action_li("reaction-message", "Reactions", "people-plus")
