- if is_popup_open(@chatd) do
  .message-popup-position
    %div(class="message-popup content-background-color #{get_popup_cls(@chatd)}")
      - if title = get_popup_title(@chatd) do
        .message-popup-title.secondary-background-color
          = title
      .message-popup-items
        - if data = get_popup_data(@chatd) do
          - [item|tail] = data
          %div(class="popup-item selected" data-name="#{item}")
            = item |> EmojiOne.shortname_to_image |> Phoenix.HTML.raw
          - for item <- tail do
            .popup-item(data-name="#{item}")
              = item |> EmojiOne.shortname_to_image |> Phoenix.HTML.raw
        - else
          - # {{#unless isLoading.get}}
          - #   {{#if emptyTemplate}}
          - #     {{> Template.dynamic template=emptyTemplate}}
          - #   {{/if}}
          - # {{/unless}}
      - if _loading = get_loading(@chatd) do
        - # do loading
