!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge")
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %meta(name="description" content="")
    %meta(name="author" content="")

    %title Hello UcxChat!
    %link(rel="stylesheet" href='#{static_path(@conn, "/css/app.css")}')

  %body
    .container
      %header.header
        - if Coherence.current_user(@conn) do
          %nav(role="navigation")
            %ul.nav.nav-pills.pull-left
              %li
                %a(href="/users")

        %ol.breadcrumb.text-right
          - if Coherence.current_user(@conn) do
            - if @conn.assigns[:remembered] do
              %li(style="color: red;") !!
            %li= UcxChat.Coherence.ViewHelpers.invitation_link(@conn)
          = UcxChat.Coherence.ViewHelpers.coherence_links(@conn, :layout)

      %p.alert.alert-info(role="alert")= get_flash(@conn, :info)
      %p.alert.alert-danger(role="alert")= get_flash(@conn, :error)

      %main(role="main")
        = render @view_module, @view_template, assigns

    %script(src='#{static_path(@conn, "/js/app.js")}')
