#user-card-popover
#ucx-chat.menu-nav
  .connection-status.status-online
    = # connection status
  .main-content.content-background-color(style="transform: translateX(0px);")
    = #{{#if modal}}main-modal{{/if}}">
    .room-container
      = render "room.html", user: @user, channel: @channel, conn: @conn
  = render UcxChat.SideNavView, "show.html", conn: @conn, side_nav: @side_nav, user: @user
