- info = @chatd.messages_info
.ticks-bar
%button.new-message.background-primary-action-color.color-content-background-color.not
  %i.icon-down-big
  New messages
%div(class="jump-recent primary-action-color background-component-color #{has_more_next(:not)}")
  %button
    Jump to recent messages
    %i.icon-level-down
- unless info[:can_preview] do
  .content.room-not-found.error-color
    %div
      You must join to view messages in this channel
%div(class="wrapper #{has_more_next(:has_more_next)} #{hide_username(@chatd.user)} #{hide_avatar(@chatd.user)}")
  %ul(aria-live="polite")
    - if info[:can_preview] do
      -# Logger.warn "messages_info #{inspect info}"
      - if info[:has_more] do
        %li.load-more
          -if info[:is_loading] do
            = get_loading()
      - else
        %li.start.color-info-font-color
          = ~g(Start of conversation)
    - for message <- @chatd.messages do
      - previews = List.keyfind(@chatd.previews, message.id, 0, {nil, []}) |> elem(1)
      = render UcxChat.MessageView, "message.html", user: @chatd.user, message: message, previews: previews
    - if has_more_next() do
      %li.load-more
        - if is_loading() do
          = loading()
