.ticks-bar
%button.new-message.background-primary-action-color.color-content-background-color.not
  %i.icon-down-big
  New messages
%div(class="jump-recent background-component-color #{has_more_next(:not)}")
  %button
    Jump to recent messages
    %i.icon-level-down
- unless can_preview() do
  .content.room-not-found.error-color
    %div
      You must join to view messages in this channel
%div(class="wrapper #{has_more_next(:has_more_next)} #{hide_username()} #{hide_avatar()}")
  %ul(aria-live="polite")
    - if can_preview() do
      - if has_more() do
        %li.load-more
          -if is_loading() do
            = get_loading()
      - else
        %li.start.color-info-font-color
          Start of conversation
    - for message <- @chatd.messages do
      = render UcxChat.MessageView, "message.html", client: @chatd.client, message: message
    - #{{#each messagesHistory}}
    - #  {{#nrr nrrargs 'message' .}}{{/nrr}}
    - if has_more_next() do
      %li.load-more
        - if is_loading() do
          = loading()
