.account-box(aria="Account" role="region")
  %div(class="info #{get_user_status(@chatd.client)} primary-background-color")
    - if @chatd.client.nickname do
      .thumb(data-status="#{get_visual_status(@chatd.client)}")
        .avatar
          = get_user_avatar(@chatd.client)
      .data
        %h4
          - id = @chatd.client.id
          = get_user_name(@chatd.client)
          = " (#{id})"
  %nav.options.primary-background-color.animated-hidden
    .wrapper
      %button.status.online(data-status="online")
        %span Online
      %button.status.away(data-status="away")
        %span Away
      %button.status.busy(data-status="busy")
        %span Busy
      %button.status.offline(data-status="offline")
        %span Offline
      %button#account.account-link
        %i.icon-sliders
        %span My Account
      - for menu <- get_registered_menus(@chatd.client) do
        %button.account-box-item
          %i(class="#{menu[:icon]}")
          %span= menu[:name]
      - if show_admin_option(@chatd.client) do
        %button#admin.account-link
        %i.icon-wrench
        %span Administration
      %button#logout
        %i.icon-logout
        %span Logout
