.account-box(aria="Account" role="region")
  %div(class="info status-#{@chatd.status} primary-background-color" data-status-name="#{get_user_name @chatd.user}")
    - if @chatd.user.username do
      .thumb(data-status="#{@chatd.status}")
        .avatar
          .avatar-image(style="background-image: url(/avatar/#{@chatd.user.username});")
      .data
        %h4
          - id = @chatd.user.id
          = get_user_name(@chatd.user)
          - if Application.get_env :ucx_chat, :debug do
            %span.debug-info= "(#{id})"
  %nav.options.primary-background-color.animated-hidden
    .wrapper
      %button.status.online(data-status="online")
        %span Online
      %button.status.away(data-status="away")
        %span Away
      %button.status.busy(data-status="busy")
        %span Busy
      %button.status.offline(data-status="offline")
        %span Offline
      %button#account.account-link
        %i.icon-sliders
        %span My Account
      - for menu <- get_registered_menus(@chatd.user) do
        %button.account-box-item
          %i(class="#{menu[:icon]}")
          %span= menu[:name]
      - if show_admin_option(@chatd.user) do
        %button#admin.account-link
          %i.icon-wrench
          %span Administration
      %button#logout
        %i.icon-logout
        %span Logout
