- attachment = @attachment
- url = attachment.url
.attachment
  .attachment-block
    .attachment-block-border.background-info-font-color(style="background-color: ")
    .attachment-title
      %a(href="#{url}" target="_blank")= "File Upload: " <> @attachment.file_name
      %a.icon-download.attachment-download-icon(href="#{url}" target="_blank" download)
      %span.collapse-switch.icon-down-dir(data-index="0")
    .attachment-flex

    - if attachment.media_type == :image do
      .media-container.attachment-image
        - if attachment.loaded do
          %figure
            .inline-image(style="background-image: url('#{attachment.poster_url}');")
              %img.gallery-item(src="#{attachment.poster_url}" height="200" )
            %figcaption.attachment-description= attachment.description
        - else
          .image-to-download(data-url="#{url}")
            %i.icon-picture
            %div= ~g(click to load)


    - if @attachment.media_type == :audio do
      .media-container.attachment-audio
        <audio controls preload="none">
          %source(src="#{url}" type="#{attachment.audio_type}")
          = ~g(Your browser does not support the audio element.)
        </audio>
        .attachment-description= attachment.description

    - if attachment.media_type == :video do
      .media-container.attachment-video
        <video class="inline-video" controls preload="none" poster="#{attachment.poster_url}">
          %source(src="#{url}" type="#{attachment.video_type}")
          = ~g(Your browser does not support the video element.)
        </video>
        .attachment-description= attachment.description

