- item = @changeset.data
- defer = Application.get_env :ucx_chat, :defer, true
%section.page-container.page-home.page-static.page-settings.admin-settings
  %header.fixed-title.border-component-color
    = render UcxChat.MasterView, "burger.html"
    %h2
      %span.room-title= ~g"General"
    .submit
      %button.button.primary.save(disabled="true")
        %i.icon-send
        %span= ~g"Save changes"
  .content.background-transparent-dark
    - form_for @changeset, "#", [id: "admin-general-form", "data-id": "general"], fn f ->
      = hidden_input f, :id, value: item.id
      .rocket-form
        - unless defer do
          .section
            .section-content.border-component-color
              = radio_button_line(f, item, :enable_favorite_rooms, ~g"Enable Favorite Rooms")
        = render "slash_commands.html", f: f, item: item, field: :rooms_slash_commands, title: ~g"Slash Commands (Rooms Mode)"
        = render "slash_commands.html", f: f, item: item, field: :chat_slash_commands, title: ~g"Slash Commands (Chat Mode)"

        - collapsable_section ~g"Notifications", fn _ ->
          = radio_button_line f, item, :enable_desktop_notifications, ~g'Enable desktop notifications'
          = text_input_line f, item, :desktop_notification_duration, ~g"AutoLinker URL Regular Expression", type: :number
