- current_tone = "tone-#{@account.emoji_tone}"
- tone_append = tone_append(@account.emoji_tone)
- active_category = @account.emoji_category
.emoji-picker.secondary-background-color
  .emoji-top
    %form.emoji-filter.input-line.search.search-form
      %input.search.content-background-color(type="text" autocomplete="off")
      %i.icon-search.secondary-font-color
    .change-tone
      %a(href="#change-tone")
        %span(class="current-tone #{current_tone}")
      %ul.tone-selector.secondary-background-color
        - for tone <- 0..5 do
          %li
            %a.tone(href="#tone" data-tone="#{tone}")
              %span(class="tone-#{tone}")
  .filter
    %ul.filter-list
      - for {name, title} <- emoji_categories() do
        %li.filter-item.border-secondary-background-color(data-name="#{name}" class="#{active_filter(to_string(name) == active_category)}" title="#{title}")
          %a.category-link.color-info-font-color(href="#")
            %i.category-icon(class="icon-#{name}")
  .emojis
    - tone_list = get_tones()
    - for {name, _title} <- emoji_categories() do
      %ul(class="#{name} emoji-list#{active_category(to_string(name) == active_category)}")
        = render "emoji_category.html", emojis: emojis_by_category(@account)[name], tone: tone_append, tone_list: tone_list
